{% extends 'base.html' %}
{% block title_head %}
	Home Pages
{% endblock %}

{% block content %}

    <h1>Company Homepage</h1>
    <hr>
    <p>The current date and time is: {% now "SHORT_DATETIME_FORMAT" %}</p>
    <p>There are {{ inventory_list|length }} items of inventory.
    <ul>
        {% for item in inventory_list %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
    </ul>
    <p>{{ greeting| title }}</p>
    {% comment %}Add more content here!{% endcomment %}
{% endblock %}
